<h1 class="col-lg-offset-3">捐助页面</h1>
<p class="line"></p>
<div class="row text-center">
    <img src="{{ url_for('local_static', filename='image/alipay-pay.jpg') }}" alt="支付宝二维码" height="300" width="300" />
    <img src="{{ url_for('local_static', filename='image/wechat-pay.jpg') }}" alt="微信二维码" height="300" width="300" />
</div>
<div class="row text-center">
    <label class="text-center" style="width: 300px">支付宝二维码</label>
    <label class="text-center" style="width: 300px">微信二维码</label>
</div>

